# Backend (не деплоим на GitHub)
backend/ffmpeg-master-latest-win64-gpl/
backend/ffmpeg.zip
backend/ngrok.exe
backend/ngrok.zip
backend/*.log
backend/test.html
backend/test_whisper.py
backend/__pycache__/
